<!-- <router-outlet>
    <a routerLink="home" >home</a>
    <a routerLink="/about">about
    </a>
    <a routerLink="/contact">contact
    </a>
    <a routerLink="/login">login
    </a>

</router-outlet>
<app-usercomponent [user] = "'daksha'" [data] ="'hello ,its weekend'"></app-usercomponent> -->

<!-- <app-usercomponent (messageEvent)="receiveMessage($event)" ></app-usercomponent>
<p>sjkjch sdhcj{{message}}</p> -->

<!-- <app-usercomponent (childMessage)="parenFunction($event)"></app-usercomponent>
<p>{{datafromChild }}</p> -->
<h2>Notification Services</h2>
<input type="text" placeholder="enter your required notification type" [(ngModel)] = "inputdata" > &nbsp;
<button (click)="notify()">NotifyMe</button>
<h2>{{notification}} </h2>